{% extends 'STP/index_master.html' %}

{% block content %}

    <!-- page content -->
        <div class="right_col" role="main">
          <div class="col-md-12 col-sm-6  ">
              <div class="x_panel">
                <div class="x_title">
                  <h2>AYUDA<small>Canales de ayuda</small></h2>
                  
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <div class="bs-example" data-example-id="simple-jumbotron">
                    <div class="jumbotron">
                      <h1>¿En que podemos ayudarte?</h1>
                      <p>visita todos nuestros canales de ayuda</p>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/kkFZbpZH5a0?si=H5jNUR1wTTt8wjAS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                  </div>

                </div>
              </div>
            </div>
        </div>
        <!-- /page content -->
{% endblock %}