
{% extends 'STP/index_master.html' %}

{% block content %}



    <div class="right_col" role="main">
      <div class="x_panel">
        <div class="x_content">
          <div class="x_title">
            <h2>Calendario de Tareas<small>Verifica, gestiona todas tus actividades, crea una nueva tarea Haciendo Click sobre el calendario en el día de tu tarea:</small></h2>
            
            <div class="clearfix">
               
            </div>
          </div>
          <div id='calendar'></div>
        </div>
      </div>
    </div>


{% endblock content %}
