{% extends 'STP/index_master.html' %}



{% block content %}
<!--  <h3>Task form</h3>
<a href="{% url 'tasks' %}">Go back</a>
<form method="post" action="">
    {% csrf_token %}
    {{form.as_p}}
    <input type = "submit" value="Submit">
</form> --> 
<!-- page content -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>


            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Formulario de Tareas</h3>
                        </div>

                        <div class="title_right">
                            <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                                <div >
                                    
                                    <span >
                                       <a href="{% url 'tasks' %}"> <button class="btn btn-primary" type="button">Volver Lista de Tareas</button></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Tarea<small>diligencie el formulario</small></h2>
                                    
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br />
                                    <form method="post" action="" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                                        {% csrf_token %}
                                        <!-- {{form.as_p}} -->

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">{{form.title.label }} <span class="required">*</span>
                                            </label>
                                            {{form.title}}
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">{{form.description.label }} <span class="required">*</span>
                                            </label>
                                            {{form.description}}
                                        </div>

                                        <style>
                                            /* Estilo para reducir el tamaño del campo flatpickr */
                                            .flatpickr {
                                                width: 150px; /* Puedes ajustar el ancho según tus necesidades */
                                                height: 30px; /* Puedes ajustar la altura según tus necesidades */
                                            }
                                        </style>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align">
                                                {{ form.created.label }} <span class="required">*</span>
                                            </label>
                                            
                                            <!-- Utiliza la clase 'flatpickr' para seleccionar el input -->
                                            {{ form.created }}
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align">
                                                {{form.due_date.label }}<span class="required">*</span>
                                            </label>

                                            <!-- Añade una clase común 'flatpickr' al input para seleccionarlo fácilmente con flatpickr -->
                                            {{ form.due_date }}
                                        </div>

                                        <script>
                                            document.addEventListener('DOMContentLoaded', function() {
                                                flatpickr('.flatpickr', {
                                                    
                                                    dateFormat: 'Y-m-d',
                                                    locale: 'es',
                                                    defaultDate: function (field) {
                                                        // Identifica cada campo por su nombre (name)
                                                        if (field.name === 'created') {
                                                            return '{{ form.instance.created|date:"Y-m-d" }}';
                                                        } else if (field.name === 'due_date') {
                                                            return '{{ form.instance.due_date|date:"Y-m-d" }}';
                                                        }
                                                        return null;
                                                    }
                                                });
                                            });
                                        </script>


                                        

                        
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align">{{form.priority.label }} <span class="required">*</span>
                                            </label>
                                            {{form.priority}}
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align">{{form.complete.label }} <span class="required">*</span>
                                            </label>
                                            {{form.complete}}
                                        </div>

                                        <div class="ln_solid"></div>
                                        <div class="item form-group">
                                            <div class="col-md-6 col-sm-6 offset-md-3">
                                                <input  class="btn btn-success" type = "submit" value="Guardar">
                                                <!-- <button type="submit" class="btn btn-success">Submit</button> -->
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                  

                    

                   


                   
                </div>
            </div>
            <!-- /page content -->
{% endblock content %}
