{% extends 'STP/index_master.html' %}

{% block content %}

    <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              
                <h3>Perfil del Usuario</h3>

<form method="post" action="">
<p>Usuario: {{ user_profile.username }}</p>
<p>Nombres: {{ user_profile.first_name }}</p>
<p>Apellidos: {{ user_profile.last_name }}</p>
<p>Email: {{ user_profile.email }}</p>
<a href="{% url 'user_edit' %}">Editar Perfil</a>
</form>


{% endblock %}